/* Error: expected "{".
 *    ,
 * 39 | .ownert
 *    |        ^
 *    '
 *   css/scss/gamelist.scss 39:8  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 39 \2502  .ownert\a    \2502         ^\a    \2575 \a   css/scss/gamelist.scss 39:8  root stylesheet';
}
