$primary: oklch(60% 0.0483 138.55);
$primary65: oklch(65% 0.0483 138.55);
$primary80: oklch(80% 0.0483 138.55);
$primary95: oklch(95% 0.0483 138.55);
$primaryhc: onklc(35% 0.0483 138.55);
$cta: oklch(82% 0.1455 79.31);
$white: oklch(99% 0.0482 138.55);
$black: oklch(10% 0.0483 138.55);
$wrong: oklch(69% 0.1825 21.18);
$right: oklch(70% 0.1776 141.88);