@use 'main.scss';

$color: main.$white;


body {
    font-family: Arial, sans-serif;
    background-color: $color;
    color: $color;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.match {
    background-color: main.$primary-color;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px main.$black;

}

.match.win {
    border-left: 8px solid main.$right-answer-color;
    /*display: inline-grid;*/

}

.match.loss {
    border-left: 8px solid main.$wrong-answer-color;
}

.match-details {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: 100%;
}

.champion {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #3e3e6a;
    margin-right: 15px;
}

.other {
    margin-right: 0;
}

.your-player, .other-player{
    display: flex;
    align-items: center;
/*    width: fit-content;
    block-size: fit-content;*/
}

.other-player {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.info {
    margin-right: 30px;
}

.info h4 {
    margin: 0 0 5px;
    font-size: 18px;
}

.info p {
    margin: 0;
    font-size: 14px;
    color: $color;
}

.vs{
    display: flex;
    text-align: right;
    margin-left: 40%;
}



.stats {
    text-align: center;
}

.stats p {
    margin: 0;
}

.stats .points {
    font-size: 20px;
    font-weight: bold;
}

.items {
    display: flex;
    gap: 5px;
}

.item {
    width: 40px;
    height: 40px;
    background: #3e3e6a;
    border-radius: 4px;
}

.vision {
    font-size: 14px;
    color: $color;
}




