$primary: oklch(60% 0.0483 138.55);
$primary65: oklch(65% 0.0483 138.55);
$primary80: oklch(80% 0.0483 138.55);
$primary95: oklch(95% 0.0483 138.55);
$primaryhc: onklc(35% 0.0483 138.55);

$cta: oklch(82% 0.1455 79.31);

$white: oklch(99% 0.0482 138.55);

$black: oklch(10% 0.0483 138.55);

$wrong: oklch(69% 0.1825 21.18);

$right: oklch(70% 0.1776 141.88);

$height: 100%;


html, body {
  height: $height;
}
//hjälp med scss compilering
body {
  margin: 0;
  background-color: $white;
}

img {
  width: 100%;
  margin: 30px;
}

.picture {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.account-image {
  fill: $black;
}

.big-container {
  display: flex;
  flex-flow: column;
  width: 90vw;
  height: $height;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.row {
  &.container {
    flex-direction: column;
    align-items: center;
    gap: 10%;

  }
  &.btn-container {
    display: flex;
    width: 100%;
  }
}


.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1, .btn2, .btn3 {
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 50%;
  height: 10vh;
}

.btn2, .btn3 {
  background-color: $primary80;
}

.btn1 {
  background-color: $cta;
}

.btn1:active {
  background-color: oklch(77% 0.1455 79.31);
}

.btn2:active, .btn3:active {
  background-color: oklch(75% 0.0483 138.55);
}

