//allt ovan är test för att fixa dark-mode knapp

//Läs in på hur man gör detta via länken: https://stefvandijk.nl/blog/css-vars-in-sass/

//kolla också med kenneth om detta skulle vara unorthodox

//Gå igenom med Joel och resten av gruppen

//Fixa så att footern stannar längst ned på sidan

:root {
  --primary-color: red;
  --darkmode-btn-background-color: oklch(37.56% 0.0758 291.51);
  --CTA-color: oklch(82% 0.1455 79.31);
  --bt-background-color-hover: oklch(77% 0.1455 79.31);
  --white: oklch(99% 0.0483 138.55);
}

:root[data-theme="dark"] {
  --primary-color: oklch(22.35% 0.037 138.55);
  --darkmode-btn-background-color: oklch(37.56% 0.0758 291.51);
  --CTA-color: oklch(82% 0.1455 79.31);
  --bt-background-color-hover: oklch(77% 0.1455 79.31);
}

:root[data-theme="light"] {
  --primary-color: oklch(44% 0.0483 138.55);
  --darkmode-btn-background-color: oklch(78.97% 0.1676 68.47);
  --CTA-color: oklch(82% 0.1455 79.31);
  --bt-background-color-hover: oklch(77% 0.1455 79.31);
}

nav .btn {
  width: 5rem;
  color: var(--white);
  border: none;
}

nav .btn:hover {
  color: var(--white);
}

footer nav .friends .btn:active,
footer nav .profile .btn:active,
footer nav .settings .btn:active {
  border: none;
  color: var(--white);
}

/*
våra färger

$primary-color: light-dark(oklch(44% 0.0483 138.55) oklch(10% 0.0483 138.55));    eventuell ersättning för dark är oklch(22.35% 0.037 138.55), måste kolla vad de andra tycker bara
$primary-color1: oklch(60% 0.0483 138.55);
$primary-color2: oklch(65% 0.0483 138.55);
$primary-color3: oklch(80% 0.0483 138.55);
$primary-color4: oklch(95% 0.0483 138.55);
$cta: oklch(82% 0.1455 79.31);
$cta-hover: oklch(77% 0.1455 79.31);

$white: oklch(99% 0.0483 138.55);
$black: oklch(10% 0.0483 138.55);
$wrong-answer-color: oklch( 60% 0.1825 21.18);
$right-answer-color: oklch( 70% 0.1776 141.88);
*/

nav {
  display: grid;
  height: 5rem;
  background-color: Var(--primary-color);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-btn {
  margin: auto;
}

.frends {
  grid-column: 1;
}

.profile {
  grid-column: 2;
}

.profile .btn svg,
.settings .btn svg,
.friends .btn svg {
  height: 1.5rem;
  fill: var(--CTA-color);
}

.settings {
  grid-column: 3;
}

.settings .offcanvas-title,
.settings .offcanvas-body,
.settings .animations-switch {
  margin: 0 auto;
}

.offcanvas .offcanvas-header .btn-close {
  margin: 0;
  position: absolute;
  right: 2rem;
}

.profile .offcanvas-profile,
.settings .offcanvas-settings,
.friends .offcanvas-friends {
  right: 0rem;
  left: 0rem;
  top: 0rem;
  bottom: 5rem;
  display: grid;
  grid-template-rows: 5rem;
}

.profile .offcanvas-profile div {
  grid-column: 2;
}

.profile-icon {
  display: grid;
}

.profile-icon svg {
  height: 5rem;
  grid-row: 2;
}

.volume {
  display: flex;
  align-content: center;
  scale: 0.7;
}

.volume label {
  margin-right: 1rem;
  font-size: 3rem;
}

.volume input {
  width: 10rem;
  height: 5rem;
}

.offcanvas-settings {
  display: grid;
}

.offcanvas-settings .animations-switch {
  padding-left: 1rem;
}

.offcanvas-settings .animations-switch input {
  float: none;
  margin-left: 0.5rem;
}

#tdnn {
  margin: auto;
  font-size: 17.5%;
  position: relative;
  height: 2rem;
  width: 4rem;
  border-radius: 16rem;
  transition: all 500ms ease-in-out;
  background: var(--darkmode-btn-background-color);
  display: block;
}

#tdnn.day {
  background: var(--darkmode-btn-background-color);
}

#moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  transition: all 400ms ease-in-out;

  top: 0em;
  left: 2em;
  transform: rotate(-75deg);
  width: 10em;
  height: 10em;
  background: var(--darkmode-btn-background-color);
  box-shadow:
    3em 2.5em 0 0em #d9fbff inset,
    rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
    rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
    rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
    rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
    rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}
#moon.sun {
  top: 1.5em;
  left: 11em;
  transform: rotate(0deg);
  width: 7em;
  height: 7em;
  background: #fff;
  box-shadow:
    3em 3em 0 5em #fff inset,
    0 -5em 0 -2.7em #fff,
    3.5em -3.5em 0 -3em #fff,
    5em 0 0 -2.7em #fff,
    3.5em 3.5em 0 -3em #fff,
    0 5em 0 -2.7em #fff,
    -3.5em 3.5em 0 -3em #fff,
    -5em 0 0 -2.7em #fff,
    -3.5em -3.5em 0 -3em #fff;
}

#moon,
.sun {
  scale: 0.7;
}
