@use 'main.scss';

$color: main.$white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.link {
    color: main.$link-test;
}

.result {
    /*margin-left: 1rem;*/
}
.input-box .email {
    color: $color;
}

.paragraph {
    margin-left: 1.3rem;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $color;
}

.big-container {
    width: 26.25rem;
    background-color: main.$primary-color;
    color: $color;
    border-radius: 0.625rem;
    padding: 1.875rem 2.5rem;
    box-shadow: 0 0 2px main.$black;

}

.big-container h1 {
    font-size: 2.25rem;
    text-align: center;
}

.big-container .input-box  {
    width: 100%;
    height: 3.125rem;
    margin: 1.875rem 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid main.$primary-color2;
    border-radius: 2.5rem;
    /*color: $color;*/
    padding: 1.25rem 2.813rem 1.25rem 1.25rem;
}



.input-box input::placeholder {
    color: $color;
}

.input-box i {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
}



.check {
    cursor: pointer;
}



.big-container .btn {
    width: 100%;
    height: 2.813rem;
    background-color: main.$cta;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 2px main.$black;
    cursor: pointer;
    font-size: 1rem;
    color: main.$black;
    font-weight: 600;
}

.btn:hover {
    background-color: main.$cta-hover;
}


/*
html {
    height: 100%;
}

body {
    background-color: main.$white;
    margin: 0;
    height: 100%;
}






.big-container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}




.container {
    border: 2px solid red;
    border-radius: 0.3em;
    height: 600px;
    width: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}







*/